$font-main: 'Bruno Ace SC', cursive;

body {
    overflow: hidden;

    font-family: $font-main;
    font-size: 3vw;

    padding-top: 20vh;
    padding-bottom: 20vh;

    background: url('/background.jpg') no-repeat;
}

.general-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    min-width: 30%;
    max-width: 50%;
    height: 60vh;

    margin: 0 auto;

    box-shadow: 0 0 40px black;
    
    border: 2px solid black;
    border-radius: 20px;

    background: linear-gradient(153deg, rgba(181,255,142,1) 0%, rgba(250,196,255,1) 49%, rgba(255,157,245,1) 100%);
    // background: linear-gradient(153deg, rgba(2,0,36,1) 0%, rgba(213,207,71,1) 71%, rgba(136,255,0,1) 100%);;

}

.window {
    display: flex;
    justify-content:flex-start;
    align-items:flex-end;
    flex-direction: column;

    width: 100%;
    height: 35%;

    background: transparent;

    border-bottom: 2px solid black;
} 
.sign {
    position: absolute;

    left: 25vw;

    // border: 1px solid white;

    min-width: 5vw;
    max-width: 10vw;
    min-height: 5%;
    max-height: 10%;

}
.previous {
    flex-wrap: wrap;

    // border: 1px solid white;

    min-width: 40%;
    max-width: 60%;
    min-height: 15%;
    max-height: 20%;

    margin-right: 10vw;
    margin-top: 5vh;

    text-align: end;

    opacity: 0.5;
}
.window-p {
    min-width: 60%;
    max-width: 90%;

    // border: 1px solid white;

    min-height: 30%;
    max-height: 40%;

    font-size: 7vh;
    color: black;

    text-align:end;

    margin-right: 15vw;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;

    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
}

.button {
    min-width: 7vw;
    max-width: 9vw;
    height: 4vh;

    background: white;

    border-radius: 20px;
    border: none;

    box-shadow: 0 0 10px gray;

}

.button:active {
    background: gray;
}
.button:nth-child(4n) {
    background: rgb(72, 161, 72);
}
.button:nth-child(19) {
    background: rgb(72, 161, 72);
}
.zero-button {
    max-width: 40vw;

    border-radius: 20px;

    grid-area: 5 / 1 / 6 / 3;
}
.button:active:nth-child(4n) {
    background: green;
}
.button:active:nth-child(19) {
    background: green;
}


// @media screen and (min-width: 810px) {
//     body {
//         font-size: 1.5vw;
//     }
//     .buttons {
//         margin: 2vw 5vh;
//     }
//     .general-block {
//         min-width: 10%;
//         max-width: 20%;
//         min-height: 50vh;
//         max-height: 70vh;
//     }

// }

@media screen and (min-width: 200px) and (max-width: 374px) {
    body {
       background-size: cover;
    }
    .window {
        min-height: 30%;
    }
    .window-p {
        display: absolute;
        bottom: 4vh;

        font-size: 4vh;

        margin-bottom: -4vh;
        margin-right: 6vw;
    }
    .sign {
        margin-top: 5vh;
    }
    .general-block {

        min-width: 40%;
        max-width: 70%;
        height: 70vh;
    }
    
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .window-p {
        font-size: 4vh;

        margin-bottom: -1vh;
        margin-right: 8vw;
    }
    .general-block {

        min-width: 40%;
        max-width: 70%;
    }
    .sign {
        margin-top: 5vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 1113px) {
    body {
        background-size: 100vw 100vh;
    }
    .general-block {
        min-width: 60%;
        max-width: 70%;
    }
    .previous {
        margin-right: 16vw;
    }
    .window-p {
        font-size: 4vh;
    }
    .sign {
        margin-top: 5vh;
        margin-left: 3vw;
    }
}

@media screen and (min-width: 1114px) and (max-width: 1300px) {
    body {
        font-size: 4vh;
    }
    .general-block {
        height: 70vh;
    }
    .button {
        height: 5vh;
    }
    .window-p {
        font-size: 3.9vh;
        margin-right: 8vw;
    }
    .previous {
        margin-right: 8vw;
    }
    .sign {
        margin-top: 5vh;
        margin-left: 5vw;
    }
}
@media screen and (min-width: 1301px) {

    body {
        font-size: 3vh;
    }
    .window-p {
        font-size: 4vh;
        margin-right: 8.5vw;
    }
    .sign {
        margin-left: 10vw;
        margin-top: 5vh;
    }
}